.footer {
  position: relative;
  right: 0;
  bottom: 0;
  padding: 0.55em 0.75em 0.75em 0.75em;
  text-align: center;
  background-color: #f4f4f4;
  box-shadow: 0 0 2px 2px #dbdbdb;
}

.footer span{
    color: #888b8d;
    font-size: 13px;
    text-align: center;
}  