<div class="tm-main uk-section uk-section content-secion">
    <div class="uk-container uk-container-large uk-position-relative">
        <div class="uk-text-left" uk-grid>
            <!--<div class="uk-width-1-1 ">
                <div class="title-section">
                    <h1 class="title uk-margin-remove-bottom">DASHBOARD</h1>
                </div>
            </div>-->
            <form class="uk-form-horizontal uk-margin-large">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">DB Server</label>
                            <div class="uk-form-controls">
                                <select class="uk-select uk-form-width-large" id="form-horizontal-select">
                                    <option>Select a DB Server</option>
                                    <option>Loren Ipsum</option>
                                    <option>Loren Ipsum2</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Database</label>
                            <div class="uk-form-controls">
                                <select class="uk-select uk-form-width-large" id="form-horizontal-select">
                                    <option>Select a DB Server</option>
                                    <option>Loren Ipsum</option>
                                    <option>Loren Ipsum2</option>
                                </select>
                            </div>
                        </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">Tables</label>
                                    <div class="uk-form-controls">
                                        <select class="uk-select uk-form-width-large" id="form-horizontal-select">
                                                <option>Select a Table</option>
                                                <option>Loren Ipsum</option>
                                                <option>Loren Ipsum2</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">Upload Your Script</label>
                            </div>
                            <div class="uk-margin" uk-margin>
                                    <div uk-form-custom="target: true">
                                        <input type="file">
                                        <input class="uk-input uk-form-width-medium uploadbox" type="text" placeholder="Upload Script" disabled>
                                    </div>
                                    <button class="uk-button uk-button-default">Upload</button>
                            </div>
                    </form>    
        </div>
        <button class="uk-button uk-button-default">RUN QUERY</button>
    </div> 
</div>